/* Origami_05 */
#contact{
    position:absolute;
    width: 12em;
    right:2em;
}

.home_pageCollection{
    max-width:19%;
    max-height:30%;
    object-fit:scale-down;
}

#imageCollection{
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

#narrowContentContainer{
    width:100%;
}
#narrowContent{
    position: absolute;
    right:16em;
    left: 7.5%;
    width:auto;
}
/* Featured Blog Blurb CSS */

a{
    text-decoration: none;
}

#featuredBlurb{
    width:85%;
    margin-left:auto;
    margin-right:auto;
}

#featuredHeader{
    margin-left:.25em;
}
.blogblurb {
    width: 100%;
    margin-top:2%;
    padding: .5em;
    border: 2px solid black;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #000000;

}

.blogblurbimagecontainer {
    /* max-width:150px;
    min-width:150px; */
    width:150px;
    /* border:1px solid black; */
}

.blogblurbimage {
    width:100%;
    object-fit:scale-down;
    padding:3%;
    vertical-align: text-top;
}

.title {
    padding-left:2%;
    padding-top:.25em;
    font-size:1.5em;
}

.author {
    padding-left:2%;
    font-size:.75em;
    line-height:.5em;
    vertical-align: text-top;
    padding-bottom:1em;
}
.date {
    padding-left:2%;
    font-size:.75em;
    line-height:.5em;
    vertical-align: text-top;
    padding-bottom:1em;
}
.blurb {
    padding-left:2%;
    max-width: 90%;
    /* The following clips the blog blurb at 3 lines and puts ellipses at the end */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}